1.Unique Words in a Sentence

In [1]:
# Take input from user
sentence = input("Enter sentence: ")

# Split sentence into words
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

# Display results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: arun is good and arun is the brother of varun
Unique words count: 8
Unique words: {'arun', 'good', 'is', 'of', 'varun', 'brother', 'the', 'and'}

2.Highest Salary from Employee Data

In [2]:
# Taking employee data from user
employees = {}

n = int(input("Enter number of employees: "))

for i in range(n):
    name = input("Enter employee name: ")
    salary = int(input("Enter salary: "))
    employees[name] = salary

highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("Highest Salary:", highest_employee, "-", highest_salary)

Enter number of employees: 4
Enter employee name: ravii
Enter salary: 40000
Enter employee name: kavi
Enter salary: 45000
Enter employee name: nila
Enter salary: 40000
Enter employee name: rosy
Enter salary: 47000
Highest Salary: rosy - 47000

3.Find Maximum and Minimum Values

In [7]:
# Take comma separated input
numbers = list(map(int, input().split(",")))

# Initialize max and min
maximum = numbers[0]
minimum = numbers[0]

# Loop to find max and min
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Print results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

15,24,33,54,65
List: [15, 24, 33, 54, 65]
Max: 65
Min: 15

4. Count Products Above a Price Threshold

In [9]:
# Take comma separated prices from user
prices = list(map(int, input().split(",")))

# Initialize counter
count = 0

# Check each price
for price in prices:
    if price > 1000:
        count += 1

# Print result
print("Products above 1000:", count)

500,450,600,800,1200,1500
Products above 1000: 2

5.Calculate Attendance Percentage

In [11]:
# Take attendance input from user (comma separated)
attendance = input().split(",")

# Count number of Present days
present_count = attendance.count("P")

# Calculate percentage
percentage = (present_count / len(attendance)) * 100

# Print result
print("Attendance Percentage:", percentage)

P,P,P,P,A,P
Attendance Percentage: 83.33333333333334

 6.Remove Duplicate Phone Numbers

In [12]:
# Take phone numbers from user (comma separated)
n = list(map(int, input().split(",")))

# Convert list to set to remove duplicates
u = set(n)

# Print unique phone numbers
print("Unique phone numbers:", u)

7094993367,7708635115,8940215981,8940215981
Unique phone numbers: {7708635115, 8940215981, 7094993367}

 7.Count Character Frequency

In [13]:
# Take string input
s = input()

# Create empty dictionary
d = {}

# Count each character
for c in s:
    if c in d:
        d[c] += 1
    else:
        d[c] = 1

# Print result
print(d)

Muthulakshmi
{'M': 1, 'u': 2, 't': 1, 'h': 2, 'l': 1, 'a': 1, 'k': 1, 's': 1, 'm': 1, 'i': 1}

8.Convert List to Tuple

In [15]:
# Take string values from user (comma separated)
l = input().split(",")

# Convert list to tuple
t = tuple(l)

# Print tuple
print("Tuple:", t)

red,blue,green,yellow
Tuple: ('red', 'blue', 'green', 'yellow')

9.Check if a Key Exists in a Dictionary

In [18]:
# Create dictionary
d = {
    "Bharathi": 75000,
    "Divya": 68000,
    "Radhi": 72000
}

# Take key from user
k = input("Enter employee name: ")

# Check if key exists
if k in d:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter employee name: Bharathi
Employee exists

10.Calculate Average Marks

In [20]:
# Take marks from user (comma separated)
m = list(map(float, input().split(",")))

# Calculate average
a = sum(m) / len(m)

# Print result
print("Average Marks:", a)

85,90,93,79,87
Average Marks: 86.8